@font-face {
    font-family: 'Futura PT';
    src: url('./fonts/FuturaPT-Heavy.eot');
    src: local('Futura PT Heavy'), local('FuturaPT-Heavy'),
        url('./fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('./fonts/FuturaPT-Heavy.woff') format('woff'),
        url('./fonts/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('./fonts/FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
        url('./fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/FuturaPT-Medium.woff') format('woff'),
        url('./fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('./fonts/FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
        url('./fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('./fonts/FuturaPT-Book.woff') format('woff'),
        url('./fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('./fonts/FuturaPT-Light.eot');
    src: local('Futura PT Light'), local('FuturaPT-Light'),
        url('./fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/FuturaPT-Light.woff') format('woff'),
        url('./fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Futura PT';
    src: url('./fonts/FuturaPT-Bold.eot');
    src: local('Futura PT Bold'), local('FuturaPT-Bold'),
        url('./fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/FuturaPT-Bold.woff') format('woff'),
        url('./fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('./fonts/FuturaPT-ExtraBold.eot');
    src: local('Futura PT Extra Bold'), local('FuturaPT-ExtraBold'),
        url('./fonts/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/FuturaPT-ExtraBold.woff') format('woff'),
        url('./fonts/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body,
html {
    overflow-x: hidden;
}

p {
    font-family: 'Futura PT';
}

.logotype p {
    font-weight: 300;
}

.gradient {
    background-image: linear-gradient(94.83deg, #ca16e8 -2.31%, #ff4853 95.06%);
    text-transform: uppercase;
    letter-spacing: .04em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* HEADER */

.header {
    background-image: linear-gradient(142.08deg, #130110, #1b2047 87.73%);
}

.navbarLinks {
    transition: 0.3s;
}

.headerLinksScroll {
    background: rgba(24, 15, 45, .6);
    backdrop-filter: blur(6px);
    border-radius: 100px;
    right: 20px;
    top: 20px;
}

.navbarButton {
    width: 22px;
}

.navbarLinks {
    font-family: 'Futura PT';
    font-size: 18px;
}

.headerContent h1 {
    font-size: 6vw;
    max-width: 70vw;
    margin-bottom: 40px;
    font-family: 'Futura PT Extra';
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -.01em;
}

.headerContentTrust {
    background-image: linear-gradient(94.83deg, #ca16e8 -2.31%, #ff4853 95.06%);
    text-transform: uppercase;
    letter-spacing: .04em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 2.2vw;
    font-weight: 600;
    margin-bottom: 70px;
}

.blueButton {
    background: linear-gradient(94.83deg, #283be6 -2.31%, #0094ff 95.06%);
    color: #fff;
    font-weight: 600;
    border-radius: 12px;
    padding: 18px 72px 18px 78px;
    font-size: 20px;
    border: none;
    transition: 0.2s;
    box-shadow: 0 0 0 0px #ffffff16;
}

.blueButton:hover {
    box-shadow: 0 0 0 6px #ffffff16;
}

.headerContentReviewText {
    font-weight: 700;
    line-height: 120%;
}

.navbarLinkBlock {
    background: rgba(24, 15, 45, .6);
    backdrop-filter: blur(6px);
    border-radius: 100px;
    padding: 5px 15px;
    z-index: 9999999999;
    position: relative;
    position: fixed;
    right: 20px;
    top: 20px;
    transition: 0.3s;
}

.navbarLinkBlock:hover {
    background: rgba(24, 15, 45, 1);
}

/* PRODUCT */

.product {
    background-image: linear-gradient(142.08deg, #130110, #1b2047 87.73%);
}

.headerProductVisible {
    grid-template-columns: repeat(4, 1fr);
    overflow-y: hidden;
    transition: 0.3s;
    padding: 20px;
}

.headerProductMask {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #f5f5f5 70%, #f5f5f5 30%, #f5f5f5);

}

.headerProductVisibleMask button {
    padding: 10px 16px 10px 20px;
    top: 380px;
}

.headerProductVisibleMask {
    background: linear-gradient(hsla(0, 0%, 100%, 0), #fff);
    z-index: 5;
    height: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.headerProductVisible>div {
    box-shadow: 0 24px 40px rgb(0 0 0 / 10%);
}

.metrics {
    padding-top: 120px;
    background-color: #f5f5f5;
}

.textSubtitle {
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    opacity: .3;
    margin-bottom: 24px;
}

.textTitle {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 45px;
    line-height: 95%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-color: #000;
    overflow: visible;
    letter-spacing: 0px;
    padding: 0 0 10px;
    text-transform: none;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .2), transparent), linear-gradient(0deg, #df559e, #df559e);
}

.textDesc {
    font-size: 26px;
    font-weight: 400;
    line-height: 140%;
    width: 540px;
    font-family: 'Futura PT Book';
}

.premium {
    background: white;
    padding-top: 150px;
    padding-bottom: 150px;
}

.redTitle {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .2), transparent), linear-gradient(0deg, #fe5e68, #fe5e68);
}

.started {
    background: #f5f5f5;
    padding: 110px 20px;
}

.started h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -.01em;
    text-align: center;
    max-width: 980px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(94.83deg, #b44ae6 -2.31%, #fe5d67 95.06%);
    padding: 0 0 10px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.startedButton {
    padding-top: 10px;
    padding-bottom: 10px;
}

.startedButton:hover {
    -webkit-box-shadow: 7px 10px 16px 5px rgba(0, 0, 0, 0.23);
    box-shadow: 7px 10px 16px 5px rgba(0, 0, 0, 0.23);
}

.tools {
    background: #101010;
    padding: 110px 20px;
}

.tools h1 {
    font-size: 80px;
    max-width: 600px;
    line-height: 100%;
    letter-spacing: -.01em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-color: #000;
    font-weight: 800;
    background-image: linear-gradient(94.83deg, #e09c45 -2.31%, #d1183a 46.14%, #ac3c93 95.06%), linear-gradient(94.83deg, #b44ae6 -2.31%, #fe5d67 95.06%);
    margin-bottom: 56px;
}

.tools p {
    max-width: 750px;
    font-size: 40px;
    color: white;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -.01em;
}

.shopItem {
    background: black;
    padding-top: 100px;
    padding-bottom: 100px;
}

.shopItemSubtitle {
    font-weight: 700;
    line-height: 25px;
    opacity: .3;
    font-size: 25px;
    color: white;
}

.shopItemTitle {
    max-width: 530px;
    font-size: 45px;
    font-weight: 700;
    line-height: 95%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-color: #000;
    overflow: visible;
    padding: 0 0 10px;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .2), transparent), linear-gradient(0deg, #df9b44, #df9b44);
    margin-top: 12px;
    margin-bottom: 12px;
}

.shopItemDesc {
    color: #fff;
    max-width: 530px;
    font-size: 22px;
    font-weight: 300;
    font-family: 'Futura PT Book';
    line-height: 140%;
    margin: 0;

}

.shopEmodji {
    margin-top: 12px;
    background: hsla(0, 0%, 100%, .08);
    border-radius: 17px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.shopGray {
    background: #101010;
}

.titleRed {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .2), transparent), linear-gradient(0deg, #d84c3f, #d84c3f);
}

.titlePink {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .2), transparent), linear-gradient(0deg, #db2a66, #db2a66);
}

.titlePurple {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .2), transparent), linear-gradient(0deg, #b53480, #b53480);
}

.shopMore {
    padding-top: 100px;
    padding-bottom: 100px;
    background: black;
    color: white;
}

.shopMore h1 {
    font-size: 25px;
    line-height: 100%;
    font-weight: 700;
    margin-bottom: 20px;
    opacity: .3;
}

.shopMore p {
    opacity: .3;
    color: #fff;
    line-height: 130%;
    margin: 0;
}

.drop h1 {
    line-height: 100%;
    letter-spacing: -.01em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-color: #000;
    font-weight: 800;
    text-align: center;
    background-image: linear-gradient(94.83deg, #ff639b -2.31%, #bd3ef9 95.06%);
    max-width: none;
    font-size: 60px;
    margin-bottom: 80px;
}

.swiper-slide img {
    width: 75px;
    margin-bottom: 30px;
}

.swiperDesc {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 700;
    line-height: 120%;
}

.swiperAuthorName {
    font-weight: 700;
    opacity: 0.3;
    font-size: 22px;
}

.swiperAuthorRole {
    opacity: 0.3;
    font-size: 22px;
}

.swiper-wrappe {
    display: grid;
    gap: 30px;
}

.swiperButton {
    background: #000;
    border-radius: 11px;
    box-shadow: 0 6px 36px rgb(0 0 0 / 40%);
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
    transition: box-shadow .1s ease-out;
    display: block;
    top: 50%;

}

.swiperButton svg {
    transform: translate(50%, 60%);
}

.swiperButton:hover {
    box-shadow: 0 6px 36px rgb(0 0 0 / 70%);
}



.swiperButtons>div {
    background: linear-gradient(90deg, #fff 29.75%, hsla(0, 0%, 100%, 0));
    height: 100%;
    width: 25%;
    z-index: 999;
}

.swiperButtons {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.swiperButtonsRight {
    right: 0;
    transform: scaleX(-1);
}

.swiperPrev {
    left: 10%;
}

.swiperNext {
    left: 10%;
}

.join {
    background: linear-gradient(158.76deg, #f0faff, #c5dff1);
    padding-top: 110px;
    padding-bottom: 110px;
}

.join h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -.01em;
    text-align: center;
    max-width: 980px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(94.83deg, #b44ae6 -2.31%, #fe5d67 95.06%);
    padding: 0 0 10px;
    margin: 0 auto;
    margin-bottom: 40px;
}

footer {
    background: black;
    color: #8a8a8a !important;
}

.footerContent {
    display: flex;
    max-width: 1322px;
    padding: 40px;
    margin: 0 auto;
}

a {
    font-family: 'Futura PT';
}

.footerContentLeft {
    flex: 0 0 calc(50% + 133px);
}

.footerContentRight {
    flex: 0 0 50%;

}

.footerContentRight a {
    font-size: 16px;
}

.footerContentRight {
    color: #8a8a8a !important;
}

.footerContentLeft {
    color: #8a8a8a !important;
}

.footerContentLeft p {
    line-height: 100%;
    margin-bottom: 20px;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100px;

}

.footerMedia path {
    fill: #8a8a8a;
}

.footerMedia svg {
    margin-right: 10px;
}

.footerMedia a {
    margin-bottom: 20px;
}

.footerMedia {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.headerProductVisible :nth-child(2n) {
    transform: translateY(40px);
}

.headerProductItem>div {
    transform: translate(0) !important;
}

/* PRODUCT */

.productHeader {
    background-image: linear-gradient(142.08deg, #130110, #1b2047 87.73%);
}

.navbarSearch {
    position: relative;
}

.navbarSearch img {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 20px;
}

.navbarSearch input {
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 14px;
    height: 30px;
    width: 225px;
}

.navbarSearch input::placeholder {
    font-size: 14px;
}

.navbarLogin p {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.navbarHamburger div {
    height: 3px;
    background: white;
    width: 25px;
    margin-bottom: 5px;
}

.navbarLogin {
    display: flex;
}

.productHeader {
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbarMenu {
    background: #1b2047;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(27, 32, 71, 0.5);
    box-shadow: 0px 0px 15px 5px rgba(27, 32, 71, 0.5);
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 9999;
}

.navbarMenu a {
    color: white;
}

.productContainer {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.productItems {
    margin: 0 auto;
}

.productItems h1 {
    font-weight: 800;
    font-size: 40px;
}

.productItemsList {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.productListItem {
    background: white;
    padding: 10px;
    padding-top: 20px;
    box-shadow: 0 5px 11px rgb(218 218 218 / 50%);
    -moz-box-shadow: 0 5px 11px rgba(218,218,218,0.5);
    -webkit-box-shadow: 0 5px 11px rgb(218 218 218 / 50%);
}

@media (max-width: 1367px) {
    .headerProductVisible {
        grid-template-columns: repeat(3, 1fr);
    }

    .headerProductVisible {
        max-width: 1140px !important;
    }

    .metrics>div,
    .premium>div {
        max-width: 1140px;
    }

    .headerProductVisible :nth-child(4n-1) {
        transform: translateY(0px);
    }

    .headerProductVisible :nth-child(3n-1) {
        transform: translateY(40px);
    }

    .headerProductItem>div {
        transform: translate(0) !important;
    }
}

@media (max-width: 1241px) {
    .premium img {
        width: 30%;
    }

    .metrics>div,
    .premium>div {
        max-width: 85%;
    }

    .footerContent {
        max-width: 90%;
        padding-left: 0;
    }
}

@media (max-width: 1025px) {
    .headerContentReviews {
        width: 95%;
    }

    .headerContentReview {
        width: 28%;
    }

    .headerProductVisible {
        grid-template-columns: repeat(4, 1fr);
    }

    .headerProductItem {
        width: 223px;
        height: 300px;
    }

    .headerProductItemImage {
        height: 228px;
    }

    .headerProductVisible :nth-child(3n-1) {
        transform: translateY(0);
    }

    .headerProductVisible :nth-child(2n) {
        transform: translateY(40px);
    }

    .metrics>div,
    .premium>div {
        width: 95%;
        justify-content: space-between;
    }

    .metrics img {
        width: 40%;
    }

    .metrics {
        padding-bottom: 120px;
    }

    .blockWidth {
        width: 90%;
    }

    .shopItem>div {
        width: 95%;
    }

    .shopItem>div>img {
        width: 40%;
    }

    .shopItemTitle {
        max-width: 400px;
    }

    .shopItemDesc {
        max-width: 400px;
    }

    .shopItem>div {
        width: 85%;
    }

    .shopEmodji {
        max-width: 350px
    }

    .footerContentLeft {
        flex: 0 0 calc(40% + 133px);
    }

    .footerContentLeft p {
        max-width: 70%;
    }
}

@media (max-width: 769px) {
    .products {
        padding: 150px 20px;
    }

    .metrics>div,
    .premium>div {
        display: block;
    }

    .metrics img {
        width: 80%;
        margin: 0 auto;
    }

    .premium img {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .shopItem>div {
        width: 100%;
        display: block;
        padding-left: 20px;
        padding-right: 20px;
    }

    .shopItem img,
    source {
        width: 90%;
        margin: 0 auto;
    }

    .shopItemTitle {
        max-width: 100%;
    }

    .shopItemDesc {
        max-width: 90%;
    }

    .shopEmodji {
        max-width: initial;
    }

    .headerProductVisible {
        grid-template-columns: repeat(3, 1fr);
    }

    .headerProductItem {
        width: 213px !important;
        height: 280px !important;
    }

    .headerProductItemImage {
        height: 208px !important;
    }

    .headerProductVisible :nth-child(2n) {
        transform: none;
    }

    .headerProductVisible :nth-child(3n-1) {
        transform: translateY(40px);
    }
}

@media (max-width: 491px) {
    .logotype p {
        display: none;
    }

    .headerContent h1 {
        font-size: 10vw;
        max-width: 100vw;
    }

    .logotype {
        margin-top: 15px;
    }

    .headerContentTrust {
        font-size: 4vw;
        margin-bottom: 70px;
    }

    .blueButton {
        width: 90%;
    }

    .blueButton p {
        margin: 0 auto;
    }

    .headerContentReviews {
        display: block !important;
    }

    .headerContentReview {
        width: 100%;
    }

    .headerContentReview {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 70px;
    }

    .headerContentReviewText {
        max-width: 280px;
        margin: 0 auto;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .headerContentReviewAuthor {
        max-width: 100%;
        font-size: 12px;
        margin: 0 auto;
    }

    .headerProductVisible {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 10px;
    }

    .headerProductItem {
        width: 100% !important;
        height: 290px !important;
    }

    .h-\[342px\] {
        height: 210px !important;
    }

    .headerProductVisible {
        padding: 10px;
        padding-right: 10px;
    }

    .products {
        padding-left: 20px;
        padding-right: 20px;
    }

    .products h1 {
        font-size: 54px;
        margin-bottom: 30px;
    }

    .products p {
        font-size: 24px;
    }

    .metrics>div,
    .premium>div {
        flex-wrap: wrap;
    }

    .metrics img {
        width: 100%;
    }

    .textSubtitle {
        font-size: 18px;
    }

    .textTitle {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .textDesc {
        width: 100%;
        font-size: 20px;
    }

    .metrics {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .premium img {
        width: 100%;
        transform: scale(1);
    }

    .premium {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .textSubtitle {
        margin-top: 20px;
    }

    .blockWidth {
        width: 100%;
    }

    .started h1 {
        font-size: 7.8vw;
    }

    .started {
        padding: 60px 20px;
    }

    .tools {
        padding: 60px 20px;
    }

    .tools h1 {
        font-size: 54px;
    }

    .tools p {
        font-size: 24px;
    }

    .tools h1 {
        margin-bottom: 26px;
    }

    .shopItem>div {
        width: 85%;
        flex-wrap: wrap;
    }

    .shopItem>div>img {
        width: 100%;
    }

    .shopItem {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .shopItemSubtitle {
        font-size: 20px;
    }

    .shopItemTitle {
        font-size: 30px;
    }

    .shopItem>div {
        width: 90%;
        flex-wrap: wrap;
    }

    .shopItemTitle {
        font-size: 26px;
        line-height: 35px;
    }

    .shopItemDesc {
        max-width: 100%;
    }

    .shopEmodji {
        max-width: 100%;
        margin-bottom: 24px;
    }

    .shopEmodji {
        font-size: 16px;
    }

    .nishesImage {
        margin-bottom: 40px;
    }

    .shopMore p {
        font-size: 18px;
        width: 90%;
        margin: 0 auto;
    }

    .swiperDesc {
        font-size: 20px;
    }

    .swiperAuthorRole {
        font-size: 16px;
    }

    .join h1 {
        font-size: 7.8vw;
    }

    .join {
        padding: 60px 20px;
    }

    .footerContent {
        flex-wrap: wrap;
    }

    .footerContentLeft p {
        max-width: 100%;
    }

    .footerContentLeft {
        flex: 0 0 calc(60% + 133px);
    }

    .footerContentRight {
        flex: 0 0 100%;
    }

    .footerContentRight {
        margin-top: 20px;
    }
}

@media (max-width: 431px) {
    .headerContent h1 {
        margin-top: 50px;
    }

    .headerContentReviewText {
        max-width: 300px;
    }

    .headerProductVisibleMask button {
        padding: 10px 35px 10px 35px;
    }

    .products h1 {
        font-size: 50px;
    }

    .products {
        padding: 60px 20px;
    }

    .drop h1 {
        font-size: 13vw;
    }

    .drop {
        padding: 60px 20px;
    }
}

@media (max-width: 391px) {
    .headerProductVisible {
        gap: 10px;
    }

    .headerProductItemImage {
        height: 172px !important;
    }

    .mbText {
        font-size: 13px !important;
    }

    .headerProductItem {
        height: 256px !important;
    }

    .blueButton {
        width: 100%;
    }
}